@{
    ViewData["Title"] = "Home Page";
}

@{
    <link rel="stylesheet"
          href="https://kit.fontawesome.com/ffd11ebe0f.js" crossorigin="anonymous" />

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js>" />

    <script src="https://kit.fontawesome.com/ffd11ebe0f.js" crossorigin="anonymous"></script>
}

<div class="text-center">

    <h1 class="display-4 animate__animated animate__rubberBand">Bienvenido a la aplicacion de Laboratorio Dos </h1>
    <h2 class="animate__animated animate__flipInX">Seleccione en el menu la opcion a la que desea desplazarse</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

